namespaceOverride: "monitoring"

grafana:
  adminUser: admin
  adminPassword: prom-operator
  ingress:
    enabled: false
  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      labelValue: "1"

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false

prometheusOperator:
  admissionWebhooks:
    certManager:
      enabled: true
